[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arduino-simple-rpc = "*"
flask = "*"
flask-wtf = "*"
cryptocompare = "*"
websocket-client = "*"
pixelblaze-client = "*"

[requires]
python_version = "3.7"
